<!DOCTYPE html>

<html>
    <head>
        <title> BNHS - {% block title %} Bnhs Homepage {% endblock %}
        </head>

        <body>
            <div>
            {% block body_block %}{% endblock %}
            </div>

            <hr />

            <div>
                <ul>
#                {% if user.is_authenticated %}
#                    <li>User is authenticated </li>
#                {% else %}
#                    <li>User is not authenticated </li>
#                {% endif %}

                    
                    <li>about</li>

                </ul>
            </div>
        </body>
    </html>
    



            
